.collection {
  min-width: 280px;
}
.collection-header {
  max-height: 44px;
  text-align: center;
  padding: 10px 15px 10px 4px !important;
  font-weight: 500 !important;
}
span,
i {
  color: #212a3e;
}
.count {
  margin-left: 5px;
  color: #394867 !important;
  font-weight: initial !important;
}
a {
  color: #394867 !important;
  font-weight: 600 !important;
}
a.active {
  color: #9ba4b5 !important;
}

.count_badge{
  margin-left: 2px;
  background-color: #394867;
  padding: 7px;
  border-radius: 30%;
}
.alret {
  /* color: red; */
  animation: colorChange 0.6s infinite;
}

@keyframes colorChange {
  0% {
    color: #F1F6F9;
  }
  25% {
    color: #394867;
  }
  50% {
    color: #212A3E;
  }
  75% {
    color: #9BA4B5;
  }
  100% {
    color: #212A3E;
  }
}
