<nav class="nav-extended">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="assets/images/logo.png" /></a>
      <a href="#" data-target="mobile" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >
      <ul class="right hide-on-med-and-down">
        <li>
          <a class="logout waves-effect" (click)="logOut()"
            ><i class="material-icons left">power_settings_new</i> LOGOUT</a
          >
        </li>
      </ul>
    </div>

    <div class="nav-content">
      <div class="nav-div">
        <img class="circle responsive-img" src="http://placeimg.com/100/100" />
      </div>
      <h1 class="profile-name">Ayman Moka</h1>
    </div>
  </div>
</nav>
<ul id="mobile" class="sidenav">
  <li class="side">
    <img class="circle responsive-img" src="http://placeimg.com/100/100" />
    <h1 class="profile-name">Ayman Moka</h1>
  </li>

  <li class="side-footer">
    <a class="logout waves-effect" (click)="logOut()"
      ><i class="material-icons center">power_settings_new</i> LOGOUT</a
    >
  </li>
</ul>
