.tabs .indicator {
  background-color: #394867;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly])+label {
  color: #394867;
  font-family: "sub-main";
  
}
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #394867;
  box-shadow: 0 1px 0 0 #394867;
}
