<div>
  <app-navbar></app-navbar>
  <div class="container-fluid" style="margin-top: 10px">
    <div class="row">
      <div class="col s12 m4 l3">
        <app-side></app-side>
      </div>
      <div class="col s12 m8 l9">
        <div class="row center-align">
          <div class="col s12">
            <input
              accept=".png,.jpg,.jpeg,.gif"
              #upload
              id="upload"
              [hidden]="true"
              type="file"
              (change)="onSelectFile($event)"
            />
            <div class="btn waves-effect select-photo" (click)="upload.click()">
              <span
                ><i class="material-icons center">image</i> Select Photo</span
              >
            </div>
          </div>
          <div class="col s12">
            <img
              class="img-upload animated fadeIn"
              *ngIf="url"
              src="{{ url }}"
              height="250px"
              width="250px"
            />
          </div>
          <div class="col s12">
            <div *ngIf="url" class="btn waves-effect photo-upload" (click)="uploadPhoto()">
              <span
                ><i class="material-icons center">cloud_upload</i> Upload
                Photo</span
              >
            </div>
          </div>
        </div>
        <div class="row photos-div">
          <div class="col s6 m4 l3" *ngFor="let item of [1, 2, 3, 4]">
            <div class="item-img-wrap center-align">
              <img
                class="responsive-img"
                src="http://placeimg.com/200/200/nature"
              />
              <div class="row">
                <button class="btn waves-effect prof-btn ">
                  as profile
                </button>
                <button class="btn waves-effect del-btn ">
                  delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m8 l9">
        <h3>No Photos</h3>
      </div>
    </div>
  </div>
</div>
