<app-navbar></app-navbar>
<div class="container animated fadeIn" style="margin-top: 10px">
  <div class="row">
    <div class="col s12 m5 l4">
      <app-side></app-side>
    </div>
    <div class="col s12 m7 l8">
      <div class="row header">
        <ul class="collection">
          <li class="collection-item avatar">
            <img
              src="https://res.cloudinary.com/des1acmba/image/upload/v{{
                post.userId.photoVersion
              }}/{{ post.userId.photoId }}"
              alt=""
              class="circle"
            />
            <span class="title">{{ post.username }}</span>
            <p class="time">{{ time(post.createdAt) }}</p>
          </li>
        </ul>
        <div class="card">
          <div class="card-image" *ngIf="post.photoId">
            <img
              src="https://res.cloudinary.com/des1acmba/image/upload/v{{
                post.photoVersion
              }}/{{ post.photoId }}"
              alt="post image"
            />
          </div>
          <p class="post-title" *ngIf="!post.photoId">
            {{ post.post }}
          </p>
          <div class="card-content post-text" *ngIf="post.photoId">
            <p>{{ post.post }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <form [formGroup]="commentForm" (ngSubmit)="addComment()">
          <div class="row form-div">
            <div class="input-field col s12">
              <textarea
                class="materialize-textarea"
                formControlName="comment"
              ></textarea>
              <label for="textarea1">Write your comment here</label>
              <div col s12>
                <button
                  class="btn waves-effect post-btn"
                  [disabled]="!commentForm.valid"
                >
                  <i class="material-icons right">message</i>comment
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row comments">
        <ul
          class="collection comment col s12 m10"
          *ngFor="let comment of post.comments"
        >
          <li class="collection-item avatar">
            <img
              class="circle"
              src="https://res.cloudinary.com/des1acmba/image/upload/v{{
                comment.userId.photoVersion
              }}/{{ comment.userId.photoId }}"
            />
            <span class="title">{{ comment.username }}</span>
            <p class="time">{{ time(comment.createdAt) }}</p>
            <p class="post-comment">{{ comment.comment }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
