.title {
  text-align: center;
  font-size: 16px !important;
  font-weight: bold;
}

.time {
  margin-bottom: 10px !important;
  color: #394867;
  font-size: 16px;
  font-style: italic;
}

.mark-all {
  text-align: center;
  font-size: 15px !important;
  font-weight: bold;
  color: #212a3e !important;
}

.collection {
  padding-left: 0 !important;
}

.avatar {
  padding-left: 60px !important;
}

.secondary-content {
  top: 38px !important;
}

.circle {
  left: 7px !important;
}

.material-icons {
  color: #212a3e !important;
  margin-right: 10px;
  cursor: pointer !important;
}

.material-icons:hover {
  color: #f1f4fa !important;
}

.collection-item > div {
  cursor: pointer;
}
.notification {
  color: red;
  font-weight: bolder;
   animation: tilt-shaking 0.3s infinite;
}
.sneder {
  color: #394867;
  font-weight: 300;
}


@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}
