<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col s12 m5 l3">
      <div class="center-align">
        <img
          class="responsive-img profile-image"
          src="http://placeimg.com/200/200/nature"
          alt=""
        />
        <div class="profile">
          <p class="title">User Name</p>
          <p class="cityName">City,Country</p>
        </div>
      </div>
    </div>
    <div class="col s12 m7 l9">
      <div class="row profile-div">
        <div class="col s12">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a class="active" href="#posts">Posts</a></li>
            <li class="tab"><a href="#following">Following</a></li>
            <li class="tab"><a href="#followers">Followers</a></li>
          </ul>
        </div>

        <!-- Posts Tab -->
        <div id="posts" class="col s12">Posts Here</div>

        <!-- Following Tab -->
        <div id="following" class="col s12">Following here</div>

        <!-- Followers Tab -->
        <div id="followers" class="col s12">Followers here</div>
      </div>
    </div>
  </div>
</div>
