.title {
  font-weight: bold;
  color: #212a3e;
}

.time {
  font-size: 14px;
  color: #394867;
}
   
.icon-Span {
  font-size: 22px;
  margin-right: 10px;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
  cursor: pointer;
  margin-left: 10px;
}

.card-action{
  border: none !important;
  padding-top: 0 !important; 
  margin-left:-25px !important; 
}

.collection {
  border: none !important;
}
.liked{
  color: #394867 !important;
}


.post-text {
  padding: 10px 5px !important;
  font-size: 22px;
}

.post-image {
  margin-top: -1.7rem;
  width: 500px;
  height: 400px;
}

.post-title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: -1.3rem;
  padding: 10px;
  width: 100%;
  height: 300px;
  min-width: 15em;
  overflow: hidden;
  color: white;
  background-color: #212a3e;
  font-family: anton;
  font-size: 24px;
  letter-spacing: 1px;
}